<section id="equipo" class="team">
  <div class="container">
    <h2>Nuestro Equipo</h2>
    <p class="team-text">
      Detrás de cada aventura hay un equipo comprometido en brindarte la mejor experiencia en Lunahuaná.
    </p>

    <div class="team-cards">
      

      <!-- Integrante 3 -->
      <div class="team-card">
        <img src="https://randomuser.me/api/portraits/men/65.jpg" alt="Integrante 3">
        <h3>Fabrizio Negron</h3>
        <p>Guía de Rutas</p>
      </div>

      <!-- Integrante 4 -->
      <div class="team-card">
        <img src="https://randomuser.me/api/portraits/women/50.jpg" alt="Integrante 4">
        <h3>Tatiana Conde</h3>
        <p>Atención al Cliente</p>
      </div>
    </div>
  </div>
</section>
