.hero {
  height: 90vh;
  background: url('https://live.staticflickr.com/649/32402313313_0654820882_h.jpg')
    no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content h1 span {
  color: #ffd700; /* Amarillo dorado */
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn-hero {
  background-color: #ffd700;
  color: #002147;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn-hero:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}
