.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #002855c2;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffcc00;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffcc00;
}
